<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/atualizar.css" rel="stylesheet" type="text/css" />
  <title>Atualizar</title>
</head>

<body>
  <main>
    <h1>Atualizar Dados!</h1>
    <button id="return-button">Retorne ao menu principal!</button>
    <% usuarios.forEach(function(usuarios) { %>
      <form method="post">
        <input type="hidden" name="id" value="<%= usuarios.id %>">
        <label for="nome">Nome:
          <input type="text" id="nome" name="nome" value="<%= usuarios.nome %>">
        </label>
        <label for="sobrenome">Sobrenome:
          <input type="text" id="sobrenome" name="sobrenome" value="<%= usuarios.sobrenome %>">
        </label>
        <label for="email">Email:
          <input type="text" id="email" name="email" value="<%= usuarios.email %>">
        </label>
        <label for="senha">Senha:
          <input type="text" id="senha" name="senha" value="<%= usuarios.senha %>">
        </label>
        <label for="confirmaSenha">Confirma Senha:
          <input type="text" id="confirmaSenha" name="confirmaSenha" value="<%= usuarios.confirmaSenha %>">
        </label>
        <input type="submit" value="Atualizar">
      </form>
      <% }); %>
  </main>

  <footer>
    <p>Desenvolvido por: <a href="https://github.com/fernandopdeandrade" target="_blank">Fernando Pereira de
        Andrade</a>
    </p>
  </footer>

  <script>
    document.getElementById('return-button').onclick = function () {
      location.href = '/';
    }
  </script>
</body>

</html>